* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #28b4a1;
    color: #333;
}

footer {
    background-color: #659f8f; /* Light theme */
    color: white;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 0;
}

.footer-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.foooter-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}



.footer-section-1 {
    flex: 1;
    min-width: 250px;
}

.footer-section-1 p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section-1 input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.footer-section-1 .btn {
    background-color: #f7650b;
    color: #659f8f;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.footer-section-1 .btn:hover {
    background-color: #f7510bf2;
}

.footer-section-2 h1,
.footer-section-3 h1 {
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer-section-2 ul,
.footer-section-3 ul {
    list-style: none;
}

.footer-section-2 ul li,
.footer-section-3 ul li {
    margin: 5px 0;
}

.footer-section-2 ul li a,
.footer-section-3 ul li a {
    color: white;
    text-decoration: none;
}

.footer-section-1,
.footer-section-2,
.footer-section-3 {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #ef790af0; 
  margin: 20px auto;
  width: 100%;
}

.logo.container {
    position: relative;
    top: 1rem;
    left: 1rem; 
    bottom: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo.container img {
    height: 30px;   /* small logo height */
    width: auto;
}














